/*------------------------------*/
/*-------Barra Navegacion-------*/
/*----------Escritorio----------*/
header{
    background-color: rgb(255, 255, 255);
    height: 80px;
    user-select: none;
    -webkit-user-select: none;
  }
  .nav{
    display: flex;
    justify-content: flex-end;
    max-width: 90%;
    margin:0 auto;
    height: inherit;
    
  }
  
  button{
    background: none;
    padding: 0px 25px;
    height: 40px;
    border: none;
    border-right: 1px solid rgba(128, 128, 128, 0.361) ;
    border-left: 1px solid rgba(128, 128, 128, 0.361) ;

  }
  /*--------------------------------------*/
  .nav_link {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  /*--------------------------------------*/
  .nav_menu{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
  .nav_menu_item {
    font-size: 18px;
    margin: 0 15px;
    line-height: 80px;
    width: max-content;
  }
  .nav_menu_link:hover ,
  .nav_menu_link_active{
    font-size: 19px;
    text-decoration: underline;
    padding: 0 px !important;
    transition: 200ms;
  }
  