.contenedor-inicio{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.imagen-inicio{
    left: 0;
    background-color: white;
    height: 30vh;
    padding-top: calc(300px - 10vw);

}
img{
    width: 99vw;
    max-width: 1200px;
    height:max-content;
    z-index: 0;
}

.texto-inicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
}

.texto-inicio-titulo{
    font-size: 5vw;
}

.down-buton{
    position: absolute;
    right: calc(50% - 25px);
    top: 85vh;
    background-color: white;
    border: none;
    transform: rotate(90deg);
    font-size: 50px;
    color: #868181;
    cursor: pointer;
}

.contenedor-texto-inicio{
    z-index: -1;
    position: absolute;

}

/* @media (min-width: 1200px){
    .imagen-inicio{
        padding-top: calc(300px - 10vw);

    }
  } */