.contenedor-inicio{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.imagen-inicio{
    left: 0;
    background-color: white;
    padding-bottom: 5px;
    height: 30vh;
}
img{
    width: 99vw;
    max-width: 1600px;
    height:max-content;
    z-index: 0;
}

.texto-inicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texto-inicio-titulo{
    font-size: 5vw;
}

.down-buton{
    position: absolute;
    right: 50%;
    top: 95vh;
}

.contenedor-segundo{
    z-index: -1;
    position: absolute;

}

@media (max-width: 1px){

  }